<html>
  <head>
  	<title>Recipes</title>
  	<meta charset="UTF-8">	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function(){
    	 var baseurl = "http://127.0.0.1:5000/recipes";
    	 var xmlhttp = new XMLHttpRequest();
    	 xmlhttp.open("GET",baseurl+"/all",true);
    	 xmlhttp.onreadystatechange = function(){
    		 if(xmlhttp.readyState==4 && xmlhttp.status ==200){
    			 var recipes = JSON.parse(xmlhttp.responseText);
    			 $("#example").DataTable({
    				data:recipes,
    				"columns":[
    					{"data":"Name"},
    					{"data":"Prep Time"},
    					{"data":"Cook Time"},
              {"data":"Total Time"}
              {"data":"Ingredient"}
    				]
    			 });
    		 }
    	 };
    	 xmlhttp.send();
      });
    </script>
  </head>
  <body>
    <table id="example" class="display" style="width:100%">
    <thead>
	    <tr>
	      <th>Recipe Name</th>
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Total Time</th>
        <th>Ingredients</th>
	    </tr>
    </thead>
    <tfoot>
	    <tr>
        <th>Recipe Name</th>
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Total Time</th>
        <th>Ingredients</th>
	    </tr>
    </tfoot>
    </table>
  </body>
</html>
